th{
    background-color: #427fef;
    color: aliceblue;
    text-align: left;
}
table {
    border-bottom: 1px solid #c4dcf3 ;
    border-top: 1px solid #c4dcf3;
    border-collapse: collapse;
}
tr:nth-child(Even){
    background-color: gray;
}
tr:nth-child(Odd){
   background-color: white;
}